[Unit]
Description=KasmVNC X Proxy
After=syslog.target network.target {{ gdm_service_name }}.service vncserver@%i.service
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
User={{ vnc_server_user }}
ExecStart=/usr/bin/kasmxproxy -a :0 -v :%i -f 60
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target