[Unit]
Description=KasmVNC Server
After=syslog.target network.target {{ gdm_service_name }}.service
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=forking
User={{ vnc_server_user }}
ExecStartPre=-/usr/bin/vncserver -kill :%i
ExecStart=/usr/bin/vncserver :%i -fg -noxstartup -select-de Gnome
ExecStop=/usr/bin/vncserver -kill :%i
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target